<div class="container">
<div class="panel panel-primary" ng-controller="AddProdcutCtrl">
    <div class="panel-heading">
        <div class="panel-title">新增商品</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" name="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            名称：
                        </label>

                        <div class="col-md-10">
                            <input class="form-control" placeholder="请输入商品名称" ng-model="product.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            描述：
                        </label>

                        <div class="col-md-10">
                            <input class="form-control" placeholder="请输入商品描述" ng-model="product.description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            数量：
                        </label>

                        <div class="col-md-10">
                            <!-- 只能是数字 -->
                            <input class="form-control" placeholder="请输入商品数量"
                                   onkeyup="value=value.replace(/[^\d]/g,'') " ng-model="product.number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a class="btn btn-success" ng-click="commit()">保存</a>
                            <button class="btn btn-primary" ng-click="resetFormData()">清空表单</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>